.Container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    color: black;
    box-sizing: border-box;
    width: 70%;
    margin-bottom: 3rem;

}


.Info_Properties {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    padding: 1rem 0;
  
}

.Info_Properties>div {
    display: flex;
    align-items: center;
    justify-content: center;
   

}


.Order {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem 0;
    font-size: 0.9rem;
   
}

.Order:not(:last-child) {
    border-bottom: 0.1rem solid black;
}

.Order>div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;   


    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
   
    
}



.Order>div:not(:last-child) {
    border-right: 0.1rem solid black;
}

.Show_Details {
    cursor: pointer;



    &:hover {
        text-decoration: underline;
    }
}

.Products {
    display: flex;
    flex-direction: column;
}

.Product {
    display: flex;
}

.Modal {
    width: 500px;
    height: 500px;

    color: red;
}