.Container {

    width: 17rem;
    height: 28rem;

    min-width: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;

    border-radius: 3%;

    overflow: hidden;


    &:hover {
        opacity: 0.9;
    }
}

.Img {
    display: flex;
    flex: 3;
    background-size: cover;


}

.Info {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(82, 82, 82);
    text-align: center;
    color: aliceblue;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    

}


.Info span {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
    max-height: 3em;
    overflow: hidden;
    font-weight: 500;   
}

.Info__Title {

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.1rem;

}

.Info__Title span {
    margin: 0 1rem;
    
}



.Info__Price {
    font-size: 1.2rem;
    font-weight: 600;
    overflow: hidden;
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Info__Price>span {}

.Currency {

    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.3rem;

}